<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
	<!-- Bootstrap Core CSS -->
	<link rel='stylesheet' href='{% static 'css/bootstrap.min.css' %}' type = "text/css"/>

	<!-- Custom CSS -->
	<link rel='stylesheet' href='{% static 'css/charts.css' %}' type = "text/css"/>
	<link rel='stylesheet' href= '{% static 'css/sb-admin.css' %}' type = "text/css"/>

	<!-- Custom Fonts -->
	<link rel='stylesheet' href= '{% static 'css/reset.css' %}' type = "text/css"/>
	<link rel='stylesheet' href= '{% static 'css/availability-calendar.css' %}' type = "text/css"/>
	<link rel='stylesheet' href= '{% static 'css/style.css' %}' type = "text/css"/> <!-- Resource style -->
	<link rel='stylesheet' href= '{% static 'css/font-awesome/css/font-awesome.min.css' %}' type = "text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif' rel='stylesheet' type='text/css'>

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	
	<script src="{% static 'js/jquery-2.1.1.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
	<script src="{% static 'js/modernizr.js' %}"></script>
	<script src="{% static 'js/availability-calendar.js' %}"></script>
	<script src="{% static 'js/jquery.csv.js' %}"></script>

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	

	<!-- Modernizr -->

</head>
<body>
	<!-- <div>
		{% block content %}
		{% endblock %}
	</div> -->
	<div id="titlebar">
		<font size="5" style="font-family: 'Helevitca Neue'; padding-left: 100px;padding-top: 20px; color: #2B3F54">
			TFTi
		</font>
	</div>

	<nav class='sidebar sidebar-menu-collapsed'> <a href='#' id='justify-icon'>
		<span class='glyphicon glyphicon-align-justify'></span>
	</a>

	<ul class='level1'>
		<li class='active'> <a class='expandable' href='#' title='Dashboard'>
			<span class='glyphicon glyphicon-home collapsed-element'></span>
			<span class='expanded-element'>Dashboard</span>
		</a>

		<ul class='level2'>
			<li> <a href='#' title='Traffic'>Traffic</a>

			</li>
			<li> <a href='#' title='Conversion rate'>Conversion rate</a>

			</li>
			<li> <a href='#' title='Purchases'>Purchases</a>

			</li>
		</ul>
	</li>
	<li> <a class='expandable' href='#' title='APIs'>
		<span class='glyphicon glyphicon-wrench collapsed-element'></span>
		<span class='expanded-element'>APIs</span>
	</a>

</li>
<li> <a class='expandable' href='#' title='Settings'>
	<span class='glyphicon glyphicon-cog collapsed-element'></span>
	<span class='expanded-element'>Settings</span>
</a>

</li>
<li> <a class='expandable' href='#' title='Account'>
	<span class='glyphicon glyphicon-user collapsed-element'></span>
	<span class='expanded-element'>Account</span>
</a>

</li>
</ul> <a href='#' id='logout-icon' title='Logout'>
<span class='glyphicon glyphicon-off'></span>
</a>

</nav>
<div class="col-md-7" style="padding-left: 100px; padding-top: 50px;">
	<main class="cd-main-content">
		<div class="row">
			<font size="5" style="font-family: 'Helevitca Neue'; float: left; padding-left: 10px;padding-top: 10px; padding-bottom: 10px; color: #2B3F54">Suggested Teams</font>

			<a href="#" class="menu">3</a>
			<a href="#" class="menu">2</a>
			<a href="#" class="menu">1</a>
		</div>


		<!-- <h1>Slide In Panel</h1> -->
		<div class="row">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<div style="float: left">Team 1 </div>
							<img src="{% static 'headshot.jpg' %}" class="student_image"/>
							<img src="{% static 'headshot.jpg' %}" class="student_image"/>
							<img src="{% static 'headshot.jpg' %}" class="student_image"/>
							<img src="{% static 'headshot.jpg' %}" class="student_image"/>
							<img src="{% static 'headshot.jpg' %}" class="student_image"/>

							<button id="chevron" class="collapseRow" data-toggle="collapse" data-target="#collapse1">
								<i class="fa fa-chevron-down"></i>
							</button>
							<a class="calendar" href="#">
								<i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
							</a>
							<p class="percent">
								x%
							</p>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse" ondrop="drop(event)" ondragover="allowDrop(event)">
						<ul class="list-group">
							<li class="list-group-item" style="height: 30px;">
								<div class="col-md-3">
									<font color="black" style="font-family: 'Helevitca Neue';">Name</font>
								</div>
								<div class="col-md-3">
									<font color="black" style="font-family: 'Helevitca Neue';vertical-align: middle;">Availability</font>
								</div>
								<div class="col-md-3">
									<font color="black" style="font-family: 'Helevitca Neue';">Commitment</font>
								</div>
								<div class="col-md-3">
									<font color="black" style="font-family: 'Helevitca Neue';">Role</font>
								</div>
							</li>
							<li class="list-group-item">One</li>
							<li class="list-group-item">Two</li>
							<li class="list-group-item">Three</li>
						</ul>
						<!-- <div class="panel-footer">Footer</div> -->
					</div>
				</div>
			</div>

		</div>

		<hr>
		<!-- <div class="container" style="width: 100% border" id="headline" class="col-md-4">
			<font size="3" style="font-family: 'Helevitca Neue'; float: left; padding-left: 10px; color: #FFFFFF">
				Students Not on a Team
			</font>
			<font size="3" style="font-family: 'Helevitca Neue'; padding-left: 10px; color: #FFFFFF">
				Suggested Team
			</font>
			<font size="3" style="font-family: 'Helevitca Neue'; float: right; padding-left: 10px; color: #">
				Action
			</font>
		</div> -->
		<div class="container" id="headline" class="col-md-4" style="width: 100% border">
				<font size="3" style="text-align:left;float:left; margin-left: 8px;font-family: 'Helevitca Neue'; color: #FFFFFF">
					Students Not on a Team
				</font>
				<font size="3" style="position: relative;left: -115px;font-family: 'Helevitca Neue'; color: #FFFFFF">
					Suggested Team
				</font>
				<font size="3" style="text-align:right;float:right;position: relative;left: -185px;font-family: 'Helevitca Neue';color: #FFFFFF">
					Action
				</font>		
			</div>

			<div style="width: 100% border;" id="rcorners2" class="col-md-4">

				<table id="studentnoteam" style="overflow:auto; height 150px;">
					<!-- <tr>
						<td>Magazzini Alimentari Riuniti</td>
						<td>Giovanni Rovelli</td>
						<td>
						   <select>
						   		<option>Add to Suggested Team</option>
						   		<option>Add to Other Team (Team1)</option>
						   		<option>Add to Other Team (Team3)</option>
						   		<option>Add to Other Team (Team4)</option>
						   </select>
							
						</td> -->
						<!-- <div class="dropdown"> -->
							<!-- <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select an action
							</button>
							<ul class="dropdown-menu">
								<li><a tabindex="-1" href="#">Add to Suggested Team</a></li>
								<li><a tabindex="-1" href="#">Add to Other Team</a></li>
								<li class="dropdown-submenu">
									<a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a tabindex="-1" href="#">2nd level dropdown</a></li>
										<li><a tabindex="-1" href="#">2nd level dropdown</a></li>
										<li class="dropdown-submenu">
											<a class="test" href="#">Another dropdown <span class="caret"></span></a>
											<ul class="dropdown-menu">
												<li><a href="#">3rd level dropdown</a></li>
												<li><a href="#">3rd level dropdown</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div> -->
					<!-- </tr> -->
				</table>
			</div>

			<!-- 		<div class="row"><a href="#" id="slide">Show/hide Slide Panel</a></div> -->
			<div id="inputs" class="clearfix">
				<input type="file" id="files" name="files[]" multiple />
			</div>
		</main>

	</div>
	<div class="col-md-1">
		<div class="headerDivider"></div>
	</div>

	<div class="col-md-4">

		<div class="row">
			<div class="w3-card" id="rcorners3" style="width: 100%;height: 350px;z-index: 2;position: relative;top: 60px;right: 50px;background: #FFFFFF;">
				<header>
					<span class="close">^</span>
					<h1>View Constraint</h1>

				</header>
				<hr>
			</div>

		</div>
		<div class="row">
			<div class="w3-card visible" id="hidden" style="width: 100%;height: 350px;z-index: 2;position: relative;top: 40px;right: 50px;background: #FFFFFF;margin-top: 50px;">
				<header>
					<span class="close slideout">x</span>
					<img src="{% static 'headshot.jpg' %}" class="student_image" style="position: relative;top: 10px;"/>
					<font size="4" style="margin-left: 5px;" id="showname">Name: </font>

				</header>
				<hr>
				<div class="w3-container">
					<p>
						<h1 style="font-weight: bold;text-align:left;float:left;">Availablity: </h1><h2 id="availability" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Role: </h1><h2 id="role" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Age: </h1><h2 id="age" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Sex: </h1><h2 id="sex" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">GPA: </h1><h2 id="gpa" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Language: </h1><h2 id="language" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Programming Copy: </h1><h2 id="programcopy" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">College: </h1><h2 id="college" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>
					<p style="margin-top: 5px;">
						<h1 style="font-weight: bold;text-align:left;float:left;">Leadership Preference: </h1><h2 id="leader_pref" style="text-align:right;float:right;margin-right: 10px;"></h2>
					</p>
					<div style="clear:both;"></div>

				</div>
				<hr>
				<input type="button" value="Edit" class="button-edit" />
				<input type="button" value="Swap" class="button-swap" />
				<input type="button" value="Delete" class="button-delete" />
				<!-- <footer class="w3_container" style="margin-top: 20px; margin-bottom: 10px;">
					

			</footer> -->
		</div>

	</div>



</div>
<script>


	function keepID(element){
		var hidden = $('#hidden');
		if (hidden.hasClass('visible')){
		} else {
			hidden.animate({"right":"50px"}, "slow").addClass('visible');
		}
		var row_id = element.getAttribute("id");
		var studentRef = firebase.database().ref('student/' + row_id);
		var showname = document.getElementById("showname");
		var availability = document.getElementById("availability");
		var commitment = document.getElementById("commitment");
		var role = document.getElementById("role");
		var age = document.getElementById("age");
		var sex = document.getElementById("sex");
		var gpa = document.getElementById("gpa");
		var language = document.getElementById("language");
		var college = document.getElementById("college");
		var programcopy = document.getElementById("programcopy");
		var leader_pref = document.getElementById("leader_pref");

		studentRef.on('value', function(snapshot) {
			var studentname = snapshot.val().Name;
			if (studentname != null)
				showname.innerHTML = studentname;
			else
				showname.innerHTML = "To be updated!";

			var studentavailable = snapshot.val().Committment;
			if (studentavailable != null)
				availability.innerHTML = studentavailable;
			else
				availability.innerHTML = "To be updated!";

			var studentrole = snapshot.val().Leadership;
			if (studentrole != null)
				role.innerHTML = studentrole;
			else
				role.innerHTML = "To be updated!";

			var studentage = snapshot.val().Age;
			if (studentage != null)
				age.innerHTML = studentage;
			else
				age.innerHTML = "To be updated!";

			var studentcollege = snapshot.val().Collge;
			if (studentcollege != null)
				college.innerHTML = studentcollege;
			else
				college.innerHTML = "To be updated!";

			var studentsex = snapshot.val().Sex;
			if (studentsex != null)
				sex.innerHTML = studentsex;
			else
				sex.innerHTML = "To be updated!";

			var studentgpa = snapshot.val().GPA;
			if (studentgpa != null)
				gpa.innerHTML = studentgpa;
			else
				gpa.innerHTML = "To be updated!";

			var studentlanguage = snapshot.val().Language;
			if (studentlanguage != null)
				language.innerHTML = studentlanguage;
			else
				language.innerHTML = "To be updated!";
			
			var studentprogrammingcopy = snapshot.val().Programming_Copy_1;
			if (studentprogrammingcopy != null)
				programcopy.innerHTML = studentprogrammingcopy;
			else
				programcopy.innerHTML = "To be updated!";
			
			var studentlanguage = snapshot.val().Language;
			if (studentlanguage != null)
				language.innerHTML = studentlanguage;
			else
				language.innerHTML = "To be updated!";

			var studentleadershippref = snapshot.val().Leadership_Pref;
			if (studentleadershippref != null)
				leader_pref.innerHTML = studentleadershippref;
			else
				leader_pref.innerHTML = "To be updated!";
		});

	}

	window.onload = function() {
		var table = document.getElementById("studentnoteam");
		var studentRef = firebase.database().ref('student/').orderByKey();
		studentRef.once("value")
		.then(function(snapshot) {
			snapshot.forEach(function(childSnapshot){

				var student = childSnapshot.val();
				var new_row = document.createElement('tr');
				new_row.setAttribute("class", "clickable-row slidein");
				new_row.setAttribute("id", childSnapshot.key);
				new_row.setAttribute('onclick','keepID(this)');
				var new_select = document.createElement('select');
				var suggested_option = document.createElement('option');
				suggested_option.innerHTML = "Add to Suggested Team";
				var other_option = document.createElement('option');
				other_option.innerHTML = "Add to Other Team(Team 4)";
				new_select.appendChild(suggested_option);
				new_select.appendChild(other_option);

			// console.log(childSnapshot.key);
			var name_cell = document.createElement('td');
			name_cell.appendChild(document.createTextNode(student.Name));
			var team_cell = document.createElement('td');
			team_cell.appendChild(document.createTextNode("Team 2"));
			var action_cell = document.createElement('td');
			action_cell.appendChild(new_select);
			new_row.appendChild(name_cell);
			new_row.appendChild(team_cell);
			new_row.appendChild(action_cell);
			table.appendChild(new_row);



		});
		}); 
		var table = document.getElementById("studentnoteam");




	}
	$(document).ready(function() {
		if(isAPIAvailable()) {
			$('#files').bind('change', handleFileSelect);
		}
	});

	function isAPIAvailable() {
      // Check for the various File API support.
      if (window.File && window.FileReader && window.FileList && window.Blob) {
        // Great success! All the File APIs are supported.
        return true;
    } else {
        // source: File API availability - http://caniuse.com/#feat=fileapi
        // source: <output> availability - http://html5doctor.com/the-output-element/
        document.writeln('The HTML5 APIs used in this form are only available in the following browsers:<br />');
        // 6.0 File API & 13.0 <output>
        document.writeln(' - Google Chrome: 13.0 or later<br />');
        // 3.6 File API & 6.0 <output>
        document.writeln(' - Mozilla Firefox: 6.0 or later<br />');
        // 10.0 File API & 10.0 <output>
        document.writeln(' - Internet Explorer: Not supported (partial support expected in 10.0)<br />');
        // ? File API & 5.1 <output>
        document.writeln(' - Safari: Not supported<br />');
        // ? File API & 9.2 <output>
        document.writeln(' - Opera: Not supported');
        return false;
    }
}

function handleFileSelect(evt) {
      var files = evt.target.files; // FileList object
      var file = files[0];
      // read the file contents
      printTable(file);

  }

  function printTable(file) {
  	var reader = new FileReader();
  	reader.readAsText(file);
  	reader.onload = function(event){
  		var csv = event.target.result;
  		var data = $.csv.toArrays(csv);

  		var studentRef = firebase.database().ref('student');
  		for(var row in data) {
  			var newStudentRef = studentRef.push();
  			var item = 0;
  			if(row!=0){
  				newStudentRef.set({
  					Name: data[row][item], 
  					Sex: data[row][item+1],
  					GPA: data[row][item+2],
  					Schedule: data[row][item+3],
  					Age: data[row][item+4],
  					Collge: data[row][item+5],
  					Programming_Copy_1: data[row][item+6],
  					Drawing_Copy_1: data[row][item+7],
  					Leadership: data[row][item+8],
  					Leadership_Pref: data[row][item+9],
  					Car: data[row][item+10],
  					Committment: data[row][item+11],
  					Visual_Design: data[row][item+12],
  					English: data[row][item+13],
  					Language: data[row][item+14]

  				});

  			}
  			

  		}
  	};
  	reader.onerror = function(){ alert('Unable to read ' + file.fileName); };
  }
</script>

</body>
<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script>
        // Initialize Firebase
        var config = {
        	apiKey: "AIzaSyBdmOpyHbccBAse4BMNFrQBlFXBZ149kA4",
        	authDomain: "dogme-fcdd7.firebaseapp.com",
        	databaseURL: "https://dogme-fcdd7.firebaseio.com",
        	storageBucket: "dogme-fcdd7.appspot.com",
        	messagingSenderId: "960834242279"
        };
        firebase.initializeApp(config);
    </script>

    <script>


    	/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
    	function myFunction() {
    		document.getElementById("myDropdown").classList.toggle("show");
    	}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
	if (!event.target.matches('.dropbtn')) {

		var dropdowns = document.getElementsByClassName("dropdown-content");
		var i;
		for (i = 0; i < dropdowns.length; i++) {
			var openDropdown = dropdowns[i];
			if (openDropdown.classList.contains('show')) {
				openDropdown.classList.remove('show');
			}
		}
	}
}
$(document).ready(function(){
	$('#slide').click(function(){
		var hidden = $('#hidden');
		if (hidden.hasClass('visible')){
			hidden.animate({"right":"-1000px"}, "slow").removeClass('visible');
		} else {
			hidden.animate({"right":"50px"}, "slow").addClass('visible');
		}
	});
	$('.slideout').click(function(){
		var hidden = $('#hidden');
		if (hidden.hasClass('visible')){
			hidden.animate({"right":"-1000px"}, "slow").removeClass('visible');
		} else {
		}
	});
});


</script>

</html>
